@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ebeaee;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  font-size: 20px;
}

nav ul Li a {
  color: black;
}

nav ul li .active {
  background-color: crimson;
  color: grey;
}

.nav-left {
  flex: 50%;
}

= .nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 20%;
  text-align: end;
}

.container {
  justify-content: ;
}

.
